*.com
*.class
*.dll
*.exe
*.o
*.so
*.user
Thumbs.db
_ReSharper*
*ReSharper.user
*dotCover
.JustCode
*.suo
bin
.svn
ipch
*.ilk
*.sdf
*.opensdf
*.pdb
/*.~vsd
*UpgradeWizard*
!lib/*
*App_Data*
obj
!packages/Twitter.Bootstrap.Less.*
ideas/
content/
[Pp]ackages/
[Tt]ools/*
![Tt]ools/packages.config
[Oo]utput/
[Pp]ublish/
nuget.exe
BuildArtifacts/